* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 0 !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
