
.register {
  display: flex;
}

.pseudoAfficher {
  margin-right: 50px;
}

.navbar {
  display: flex;
  width: 100vw;
  margin: 0 calc(-50vw + 50%);
  border-bottom: 1px solid var(--votann-gold);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: var(--votann-dark);
  z-index: 2;
  padding: 0;
  top: 0;
}

.register {
  margin-right: 30px;
  gap: 30px;
}

.register h3 {
  margin:0;
  padding: 5px;
  border-radius: 5px;
  transition: background 1s ease, box-shadow 0.5s ease, transform 1s ease-in-out;
}

.register > h3:hover {
  background: var(--votann-gold);
  box-shadow: 0 0 10px rgba(160, 86, 26, 0.7);
}

.logo-section > img {
  height: 100px;
  width: auto;
  margin-left: 20px;
}

a {
  color: var(--votann-light);
  text-decoration: none;
  justify-content: center;
}