.titre {
  color: var(--votann-gold);
  text-shadow: 0 0 5px rgba(212, 175, 55, 0.7);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}


#logoInfini, #logoChaos {
  filter:
    drop-shadow(0 0 1px white);
}

.listeLogo {
    display: flex;
    overflow-x: auto;
}

@media (max-width: 600px) {
  .listeLogo img{
    max-height: 100px;
    max-width: 100px;
}
}